# 0. The Obligatory Part

In [ ]:
# Run this cell if data in Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# Install ortools
!pip3 install ortools

In [1]:
# Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from competency_assessment import CompetencyAssessment
from ortools.sat.python import cp_model

# 1. Define the Data Structure

In [ ]:
# Data path
# new_employee_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_employee.csv'
# new_task_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_task_1.csv'

In [2]:
# Run this if the data in Local/Repository
new_employee_path = '../../data/fixed_employee_data.csv'
new_task_path = '../../data/task_data.csv'

## 1.1. Pre-Processing: Employee Data

In [3]:
# Read data
employee_skills_df = pd.read_csv(new_employee_path, index_col='employee_id')
employee_skills_df.drop(columns=['No', 'Role'], inplace=True, errors='ignore')

employees = employee_skills_df.index.tolist()
skills_name = employee_skills_df.columns[1:].tolist()

employee_skills_df

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
employee_id,,,,,,,,,,,,,,,,,,,,,
Talent 1,1,1,2,1,2,3,3,2,2,2,...,1,1,1,2,1,1,1,1,1,2
Talent 2,4,4,4,4,3,5,4,3,3,3,...,3,2,1,1,1,1,1,1,1,1
Talent 3,3,2,2,3,2,3,3,2,2,3,...,3,3,3,3,2,3,2,3,3,2
Talent 4,3,2,3,2,3,4,3,2,4,2,...,3,1,1,2,2,2,2,2,2,2
Talent 5,2,1,3,1,1,1,2,1,1,2,...,2,1,1,3,2,5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Talent 107,1,4,4,3,4,3,4,4,4,4,...,5,5,5,3,5,3,4,3,4,2
Talent 108,3,3,3,3,4,2,2,2,2,3,...,4,3,4,2,3,3,2,2,3,2
Talent 109,5,5,4,5,3,4,4,3,3,3,...,5,5,5,5,5,5,5,5,5,5
Talent 110,3,3,3,3,3,4,4,4,3,4,...,3,3,3,4,4,3,4,3,4,3
Talent 112,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1

## 1.2. Pre-Processing: Task Data

In [4]:
task_df = pd.read_csv(new_task_path, index_col='task_id')

tasks = task_df.index.tolist()
company_names = list(set(task_df['project_id']))
story_points = task_df['story_points'].to_dict()

task_df

,project_id,story_points,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,P5,8,5,1,4,4,4,4,3,5,...,4,1,4,2,3,5,4,5,5,5
T2,P1,1,5,5,5,1,5,3,1,2,...,3,4,3,1,1,1,4,1,3,3
T3,P5,2,5,4,5,1,5,4,5,2,...,2,4,3,5,4,2,3,4,2,5
T4,P1,3,3,1,2,1,5,4,3,1,...,4,1,1,4,1,4,1,3,2,1
T5,P2,5,1,4,5,5,2,3,5,5,...,3,5,1,3,1,5,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T296,P5,5,4,5,4,4,3,1,4,3,...,3,3,1,5,5,3,3,5,5,3
T297,P2,8,4,3,5,2,2,2,2,4,...,4,4,4,5,2,1,3,5,5,5
T298,P2,2,2,2,5,2,4,2,5,2,...,5,1,2,2,5,4,3,2,5,4
T299,P2,1,3,4,3,5,2,3,4,1,...,4,4,1,4,2,5,3,1,2,4
T300,P3,2,4,3,2,1,1,5,3,5,...,2,2,3,3,5,1,5,5,2,3

## 1.3. Group the task data by company/project

In [5]:
# convert to dictionary each company and its task
company_tasks = {}

for company in company_names:
  company_tasks[company] = task_df[task_df['project_id'] == company].index.tolist()

# sort the company tasks from C1 to C5
company_tasks = dict(sorted(company_tasks.items()))

company_tasks_df = pd.DataFrame.from_dict(company_tasks, orient='index')
company_tasks_df

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
P1,T2,T4,T14,T21,T26,T29,T30,T36,T38,T40,...,None,None,None,None,None,None,None,None,None,None
P2,T5,T6,T9,T11,T19,T28,T32,T33,T44,T46,...,T260,T265,T274,T279,T283,T291,T293,T297,T298,T299
P3,T10,T23,T24,T25,T34,T48,T53,T58,T59,T68,...,T285,T286,T287,T289,T300,None,None,None,None,None
P4,T15,T20,T35,T37,T39,T43,T56,T57,T61,T70,...,None,None,None,None,None,None,None,None,None,None
P5,T1,T3,T7,T8,T12,T13,T16,T17,T18,T22,...,T241,T242,T243,T268,T276,T280,T282,T288,T296,None

## 1.4. Pre-Processing: Competency Assesment

first, create RCD-ACD Dataframe

### 1.4.1 RCD Dataframe

In [6]:
rcd_df = task_df.drop(columns=['project_id', 'story_points'])
rcd_df.head()

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,5,1,4,4,4,4,3,5,1,1,...,4,1,4,2,3,5,4,5,5,5
T2,5,5,5,1,5,3,1,2,2,4,...,3,4,3,1,1,1,4,1,3,3
T3,5,4,5,1,5,4,5,2,4,1,...,2,4,3,5,4,2,3,4,2,5
T4,3,1,2,1,5,4,3,1,1,2,...,4,1,1,4,1,4,1,3,2,1
T5,1,4,5,5,2,3,5,5,3,5,...,3,5,1,3,1,5,5,5,2,2

In [7]:
rcd_t1 = rcd_df.loc[['T1']]

### 1.4.2 ACD Dataframe

In [8]:
# create a copy of the original DataFrame
acd_df = employee_skills_df.copy()
acd_df

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
employee_id,,,,,,,,,,,,,,,,,,,,,
Talent 1,1,1,2,1,2,3,3,2,2,2,...,1,1,1,2,1,1,1,1,1,2
Talent 2,4,4,4,4,3,5,4,3,3,3,...,3,2,1,1,1,1,1,1,1,1
Talent 3,3,2,2,3,2,3,3,2,2,3,...,3,3,3,3,2,3,2,3,3,2
Talent 4,3,2,3,2,3,4,3,2,4,2,...,3,1,1,2,2,2,2,2,2,2
Talent 5,2,1,3,1,1,1,2,1,1,2,...,2,1,1,3,2,5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Talent 107,1,4,4,3,4,3,4,4,4,4,...,5,5,5,3,5,3,4,3,4,2
Talent 108,3,3,3,3,4,2,2,2,2,3,...,4,3,4,2,3,3,2,2,3,2
Talent 109,5,5,4,5,3,4,4,3,3,3,...,5,5,5,5,5,5,5,5,5,5
Talent 110,3,3,3,3,3,4,4,4,3,4,...,3,3,3,4,4,3,4,3,4,3
Talent 112,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1

### 1.4.3 Fit the Data

In [10]:
ca = CompetencyAssessment(rcd_t1, acd_df)
qs, info = ca.fit()

In [11]:
qs

{'Talent 1': {'T1': [0.0717948717948718,
   -2.0358974358974358,
   -0.03021696252465483,
   'Under-Qualified']},
 'Talent 2': {'T1': [0.2205128205128205,
   -1.4256410256410255,
   -0.018540433925049307,
   'Under-Qualified']},
 'Talent 3': {'T1': [0.2153846153846153,
   -1.3743589743589737,
   -0.01783037475345167,
   'Under-Qualified']},
 'Talent 4': {'T1': [0.2564102564102564,
   -1.3435897435897433,
   -0.016725838264299797,
   'Under-Qualified']},
 'Talent 5': {'T1': [0.15897435897435896,
   -2.169230769230769,
   -0.030927021696252464,
   'Under-Qualified']},
 'Talent 6': {'T1': [0.2717948717948718,
   -1.1282051282051277,
   -0.013175542406311632,
   'Under-Qualified']},
 'Talent 7': {'T1': [0.5999999999999999,
   -0.5589743589743588,
   0.0006311637080867862,
   'Qualified']},
 'Talent 8': {'T1': [1.143589743589743,
   -0.2512820512820512,
   0.013727810650887566,
   'Qualified']},
 'Talent 9': {'T1': [0.32307692307692315,
   -1.6153846153846145,
   -0.01988165680473371,
   'Under-Qualified']},
 'Talent 10': {'T1': [1.0717948717948718,
   -0.3435897435897435,
   0.011203155818540434,
   'Qualified']},
 'Talent 11': {'T1': [0.5948717948717949,
   -1.2205128205128204,
   -0.00962524654832347,
   'Under-Qualified']},
 'Talent 12': {'T1': [0.2666666666666666,
   -1.2153846153846148,
   -0.014595660749506896,
   'Under-Qualified']},
 'Talent 13': {'T1': [0.47692307692307695,
   -1.241025641025641,
   -0.01175542406311637,
   'Under-Qualified']},
 'Talent 14': {'T1': [0.37948717948717964,
   -1.1948717948717946,
   -0.012544378698224844,
   'Under-Qualified']},
 'Talent 15': {'T1': [0.2923076923076922,
   -1.682051282051282,
   -0.021380670611439844,
   'Under-Qualified']},
 'Talent 16': {'T1': [0.5487179487179485,
   -1.1538461538461537,
   -0.00930966469428008,
   'Under-Qualified']},
 'Talent 17': {'T1': [0.04615384615384616,
   -2.364102564102564,
   -0.03566074950690336,
   'Under-Qualified']},
 'Talent 18': {'T1': [0.1692307692307692,
   -1.9025641025641027,
   -0.02666666666666667,
   'Under-Qualified']},
 'Talent 19': {'T1': [0.7076923076923076,
   -0.7230769230769228,
   -0.00023668639053254183,
   'Under-Qualified']},
 'Talent 20': {'T1': [0.21538461538461537,
   -1.7128205128205127,
   -0.023037475345167653,
   'Under-Qualified']},
 'Talent 21': {'T1': [0.9897435897435897,
   -0.282051282051282,
   0.01088757396449704,
   'Qualified']},
 'Talent 22': {'T1': [0.3282051282051282,
   -1.6358974358974356,
   -0.02011834319526627,
   'Under-Qualified']},
 'Talent 23': {'T1': [0.18461538461538463,
   -1.261538461538461,
   -0.0165680473372781,
   'Under-Qualified']},
 'Talent 24': {'T1': [0.37435897435897436,
   -1.0974358974358973,
   -0.011124260355029584,
   'Under-Qualified']},
 'Talent 25': {'T1': [0.27692307692307694,
   -2.0461538461538464,
   -0.02721893491124261,
   'Under-Qualified']},
 'Talent 26': {'T1': [0.6717948717948714,
   -1.117948717948718,
   -0.0068639053254437934,
   'Under-Qualified']},
 'Talent 27': {'T1': [0.27179487179487183,
   -1.8256410256410256,
   -0.02390532544378698,
   'Under-Qualified']},
 'Talent 28': {'T1': [0.5384615384615385,
   -0.7589743589743589,
   -0.0033925049309664677,
   'Under-Qualified']},
 'Talent 29': {'T1': [0.20512820512820512,
   -2.0051282051282047,
   -0.027692307692307686,
   'Under-Qualified']},
 'Talent 30': {'T1': [0.29743589743589754,
   -1.2358974358974355,
   -0.0144378698224852,
   'Under-Qualified']},
 'Talent 31': {'T1': [0.5948717948717948,
   -0.8871794871794868,
   -0.004497041420118339,
   'Under-Qualified']},
 'Talent 34': {'T1': [0.09230769230769231,
   -2.205128205128205,
   -0.03250493096646942,
   'Under-Qualified']},
 'Talent 35': {'T1': [0.1794871794871795,
   -1.9076923076923076,
   -0.026587771203155815,
   'Under-Qualified']},
 'Talent 36': {'T1': [0.31794871794871793,
   -1.3897435897435892,
   -0.01648915187376725,
   'Under-Qualified']},
 'Talent 37': {'T1': [0.4153846153846153,
   -1.1743589743589742,
   -0.011676528599605522,
   'Under-Qualified']},
 'Talent 38': {'T1': [0.3897435897435898,
   -1.6666666666666667,
   -0.01964497041420118,
   'Under-Qualified']},
 'Talent 39': {'T1': [0.7487179487179487,
   -0.45641025641025623,
   0.004497041420118346,
   'Qualified']},
 'Talent 40': {'T1': [0.38974358974358975,
   -1.3487179487179481,
   -0.01475345167652859,
   'Under-Qualified']},
 'Talent 41': {'T1': [0.17948717948717946,
   -1.3794871794871788,
   -0.01846153846153845,
   'Under-Qualified']},
 'Talent 42': {'T1': [0.8102564102564102,
   -0.5589743589743588,
   0.00386587771203156,
   'Qualified']},
 'Talent 43': {'T1': [0.18461538461538463,
   -1.3897435897435892,
   -0.018540433925049303,
   'Under-Qualified']},
 'Talent 44': {'T1': [0.10769230769230773,
   -2.0666666666666664,
   -0.03013806706114398,
   'Under-Qualified']},
 'Talent 45': {'T1': [0.5487179487179488,
   -0.7999999999999999,
   -0.0038658777120315563,
   'Under-Qualified']},
 'Talent 46': {'T1': [0.6512820512820514,
   -0.8923076923076922,
   -0.003708086785009859,
   'Under-Qualified']},
 'Talent 47': {'T1': [0.6256410256410256,
   -0.5333333333333332,
   0.0014201183431952682,
   'Qualified']},
 'Talent 48': {'T1': [0.4820512820512821,
   -1.0769230769230769,
   -0.009151873767258381,
   'Under-Qualified']},
 'Talent 49': {'T1': [0.18461538461538463,
   -1.8923076923076922,
   -0.026272189349112424,
   'Under-Qualified']},
 'Talent 50': {'T1': [0.6,
   -0.676923076923077,
   -0.0011834319526627228,
   'Under-Qualified']},
 'Talent 51': {'T1': [0.18461538461538463,
   -1.7282051282051283,
   -0.023747534516765288,
   'Under-Qualified']},
 'Talent 52': {'T1': [0.4717948717948719,
   -0.7999999999999998,
   -0.005049309664694275,
   'Under-Qualified']},
 'Talent 53': {'T1': [0.2512820512820513,
   -2.1076923076923073,
   -0.028560157790927018,
   'Under-Qualified']},
 'Talent 54': {'T1': [0.45128205128205123,
   -1.2512820512820508,
   -0.0123076923076923,
   'Under-Qualified']},
 'Talent 55': {'T1': [0.282051282051282,
   -1.641025641025641,
   -0.020907297830374753,
   'Under-Qualified']},
 'Talent 56': {'T1': [0.15384615384615385,
   -2.0,
   -0.028402366863905328,
   'Under-Qualified']},
 'Talent 57': {'T1': [0.1948717948717949,
   -1.4461538461538457,
   -0.019250493096646937,
   'Under-Qualified']},
 'Talent 58': {'T1': [0.558974358974359,
   -0.7076923076923076,
   -0.0022879684418145945,
   'Under-Qualified']},
 'Talent 59': {'T1': [0.37948717948717947,
   -1.5282051282051283,
   -0.017672583826429982,
   'Under-Qualified']},
 'Talent 60': {'T1': [0.2923076923076923,
   -1.333333333333333,
   -0.016015779092702163,
   'Under-Qualified']},
 'Talent 61': {'T1': [0.23076923076923075,
   -1.4717948717948712,
   -0.019092702169625237,
   'Under-Qualified']},
 'Talent 62': {'T1': [0.9641025641025642,
   -0.28205128205128194,
   0.010493096646942805,
   'Qualified']},
 'Talent 63': {'T1': [0.5948717948717948,
   -1.2769230769230768,
   -0.010493096646942802,
   'Under-Qualified']},
 'Talent 64': {'T1': [0.4923076923076923,
   -1.1076923076923075,
   -0.009467455621301772,
   'Under-Qualified']},
 'Talent 65': {'T1': [0.523076923076923,
   -1.3487179487179488,
   -0.012702169625246552,
   'Under-Qualified']},
 'Talent 66': {'T1': [0.4564102564102563,
   -1.558974358974359,
   -0.016962524654832348,
   'Under-Qualified']},
 'Talent 67': {'T1': [0.20512820512820515,
   -1.6461538461538463,
   -0.022169625246548325,
   'Under-Qualified']},
 'Talent 68': {'T1': [0.32820512820512826,
   -1.482051282051282,
   -0.017751479289940825,
   'Under-Qualified']},
 'Talent 69': {'T1': [0.43589743589743596,
   -1.0512820512820509,
   -0.009467455621301768,
   'Under-Qualified']},
 'Talent 70': {'T1': [0.7948717948717948,
   -0.5743589743589743,
   0.0033925049309664695,
   'Qualified']},
 'Talent 71': {'T1': [0.3794871794871795,
   -0.7794871794871794,
   -0.006153846153846151,
   'Under-Qualified']},
 'Talent 72': {'T1': [0.5641025641025641,
   -1.0769230769230766,
   -0.007889546351084808,
   'Under-Qualified']},
 'Talent 73': {'T1': [0.9948717948717949,
   -0.22564102564102556,
   0.011834319526627222,
   'Qualified']},
 'Talent 74': {'T1': [0.13846153846153847,
   -2.1384615384615384,
   -0.03076923076923077,
   'Under-Qualified']},
 'Talent 75': {'T1': [0.24102564102564097,
   -1.5076923076923079,
   -0.019487179487179488,
   'Under-Qualified']},
 'Talent 76': {'T1': [0.4256410256410256,
   -2.0717948717948715,
   -0.025325443786982243,
   'Under-Qualified']},
 'Talent 77': {'T1': [0.35384615384615375,
   -1.1230769230769226,
   -0.011834319526627215,
   'Under-Qualified']},
 'Talent 78': {'T1': [0.13846153846153847,
   -1.9384615384615385,
   -0.027692307692307693,
   'Under-Qualified']},
 'Talent 79': {'T1': [0.30256410256410265,
   -1.4051282051282048,
   -0.01696252465483234,
   'Under-Qualified']},
 'Talent 80': {'T1': [0.3025641025641026,
   -1.3589743589743588,
   -0.01625246548323471,
   'Under-Qualified']},
 'Talent 81': {'T1': [0.13333333333333336,
   -1.6564102564102559,
   -0.023431952662721887,
   'Under-Qualified']},
 'Talent 82': {'T1': [0.10769230769230768,
   -2.317948717948718,
   -0.034003944773175546,
   'Under-Qualified']},
 'Talent 83': {'T1': [0.49743589743589733,
   -0.7435897435897436,
   -0.003786982248520712,
   'Under-Qualified']},
 'Talent 84': {'T1': [0.19999999999999998,
   -1.8564102564102563,
   -0.025483234714003943,
   'Under-Qualified']},
 'Talent 85': {'T1': [0.0923076923076923,
   -2.1948717948717946,
   -0.032347140039447726,
   'Under-Qualified']},
 'Talent 86': {'T1': [0.3641025641025641,
   -1.2307692307692304,
   -0.013333333333333327,
   'Under-Qualified']},
 'Talent 87': {'T1': [0.282051282051282,
   -1.4820512820512817,
   -0.018461538461538456,
   'Under-Qualified']},
 'Talent 88': {'T1': [0.28205128205128205,
   -1.379487179487179,
   -0.016883629191321494,
   'Under-Qualified']},
 'Talent 89': {'T1': [0.15897435897435902,
   -1.9282051282051282,
   -0.027218934911242602,
   'Under-Qualified']},
 'Talent 90': {'T1': [0.3128205128205129,
   -1.4410256410256408,
   -0.017357001972386585,
   'Under-Qualified']},
 'Talent 91': {'T1': [0.5282051282051281,
   -0.7538461538461538,
   -0.003471400394477319,
   'Under-Qualified']},
 'Talent 92': {'T1': [0.8205128205128205,
   -0.37948717948717936,
   0.006785009861932941,
   'Qualified']},
 'Talent 93': {'T1': [0.4153846153846154,
   -1.1025641025641022,
   -0.010571992110453642,
   'Under-Qualified']},
 'Talent 94': {'T1': [0.5538461538461537,
   -0.5282051282051281,
   0.0003944773175542392,
   'Qualified']},
 'Talent 95': {'T1': [0.39487179487179486,
   -1.2256410256410253,
   -0.012781065088757392,
   'Under-Qualified']},
 'Talent 96': {'T1': [0.2923076923076924,
   -1.3846153846153844,
   -0.016804733727810647,
   'Under-Qualified']},
 'Talent 97': {'T1': [0.3743589743589743,
   -1.5794871794871792,
   -0.018540433925049307,
   'Under-Qualified']},
 'Talent 98': {'T1': [0.2871794871794872,
   -0.9743589743589745,
   -0.010571992110453649,
   'Under-Qualified']},
 'Talent 99': {'T1': [1.1333333333333329,
   -0.10256410256410253,
   0.015857988165680466,
   'Qualified']},
 'Talent 100': {'T1': [0.1076923076923077,
   -2.051282051282051,
   -0.029901380670611436,
   'Under-Qualified']},
 'Talent 101': {'T1': [0.20512820512820515,
   -1.533333333333333,
   -0.02043392504930966,
   'Under-Qualified']},
 'Talent 102': {'T1': [0.24102564102564103,
   -1.2102564102564097,
   -0.014911242603550288,
   'Under-Qualified']},
 'Talent 103': {'T1': [0.020512820512820513,
   -2.5076923076923077,
   -0.038264299802761345,
   'Under-Qualified']},
 'Talent 104': {'T1': [1.2051282051282044,
   -0.16923076923076918,
   0.015936883629191313,
   'Qualified']},
 'Talent 105': {'T1': [0.4153846153846154,
   -1.1282051282051282,
   -0.010966469428007887,
   'Under-Qualified']},
 'Talent 106': {'T1': [0.27692307692307694,
   -1.1948717948717944,
   -0.014122287968441807,
   'Under-Qualified']},
 'Talent 107': {'T1': [0.6820512820512822,
   -0.682051282051282,
   3.416070845000482e-18,
   'Qualified']},
 'Talent 108': {'T1': [0.2461538461538461,
   -1.1384615384615386,
   -0.013727810650887576,
   'Under-Qualified']},
 'Talent 109': {'T1': [0.9589743589743592,
   -0.3128205128205128,
   0.009940828402366868,
   'Qualified']},
 'Talent 110': {'T1': [0.4512820512820514,
   -0.723076923076923,
   -0.004181459566074947,
   'Under-Qualified']},
 'Talent 112': {'T1': [0.09230769230769231,
   -2.0923076923076924,
   -0.03076923076923077,
   'Under-Qualified']}}

In [12]:
score = ca.rank_MSG(qs)
score

{'Talent 1': {'T1': -0.03021696252465483},
 'Talent 2': {'T1': -0.018540433925049307},
 'Talent 3': {'T1': -0.01783037475345167},
 'Talent 4': {'T1': -0.016725838264299797},
 'Talent 5': {'T1': -0.030927021696252464},
 'Talent 6': {'T1': -0.013175542406311632},
 'Talent 7': {'T1': 0.0006311637080867862},
 'Talent 8': {'T1': 0.013727810650887566},
 'Talent 9': {'T1': -0.01988165680473371},
 'Talent 10': {'T1': 0.011203155818540434},
 'Talent 11': {'T1': -0.00962524654832347},
 'Talent 12': {'T1': -0.014595660749506896},
 'Talent 13': {'T1': -0.01175542406311637},
 'Talent 14': {'T1': -0.012544378698224844},
 'Talent 15': {'T1': -0.021380670611439844},
 'Talent 16': {'T1': -0.00930966469428008},
 'Talent 17': {'T1': -0.03566074950690336},
 'Talent 18': {'T1': -0.02666666666666667},
 'Talent 19': {'T1': -0.00023668639053254183},
 'Talent 20': {'T1': -0.023037475345167653},
 'Talent 21': {'T1': 0.01088757396449704},
 'Talent 22': {'T1': -0.02011834319526627},
 'Talent 23': {'T1': -0.0165680473372781},
 'Talent 24': {'T1': -0.011124260355029584},
 'Talent 25': {'T1': -0.02721893491124261},
 'Talent 26': {'T1': -0.0068639053254437934},
 'Talent 27': {'T1': -0.02390532544378698},
 'Talent 28': {'T1': -0.0033925049309664677},
 'Talent 29': {'T1': -0.027692307692307686},
 'Talent 30': {'T1': -0.0144378698224852},
 'Talent 31': {'T1': -0.004497041420118339},
 'Talent 34': {'T1': -0.03250493096646942},
 'Talent 35': {'T1': -0.026587771203155815},
 'Talent 36': {'T1': -0.01648915187376725},
 'Talent 37': {'T1': -0.011676528599605522},
 'Talent 38': {'T1': -0.01964497041420118},
 'Talent 39': {'T1': 0.004497041420118346},
 'Talent 40': {'T1': -0.01475345167652859},
 'Talent 41': {'T1': -0.01846153846153845},
 'Talent 42': {'T1': 0.00386587771203156},
 'Talent 43': {'T1': -0.018540433925049303},
 'Talent 44': {'T1': -0.03013806706114398},
 'Talent 45': {'T1': -0.0038658777120315563},
 'Talent 46': {'T1': -0.003708086785009859},
 'Talent 47': {'T1': 0.0014201183431952682},
 'Talent 48': {'T1': -0.009151873767258381},
 'Talent 49': {'T1': -0.026272189349112424},
 'Talent 50': {'T1': -0.0011834319526627228},
 'Talent 51': {'T1': -0.023747534516765288},
 'Talent 52': {'T1': -0.005049309664694275},
 'Talent 53': {'T1': -0.028560157790927018},
 'Talent 54': {'T1': -0.0123076923076923},
 'Talent 55': {'T1': -0.020907297830374753},
 'Talent 56': {'T1': -0.028402366863905328},
 'Talent 57': {'T1': -0.019250493096646937},
 'Talent 58': {'T1': -0.0022879684418145945},
 'Talent 59': {'T1': -0.017672583826429982},
 'Talent 60': {'T1': -0.016015779092702163},
 'Talent 61': {'T1': -0.019092702169625237},
 'Talent 62': {'T1': 0.010493096646942805},
 'Talent 63': {'T1': -0.010493096646942802},
 'Talent 64': {'T1': -0.009467455621301772},
 'Talent 65': {'T1': -0.012702169625246552},
 'Talent 66': {'T1': -0.016962524654832348},
 'Talent 67': {'T1': -0.022169625246548325},
 'Talent 68': {'T1': -0.017751479289940825},
 'Talent 69': {'T1': -0.009467455621301768},
 'Talent 70': {'T1': 0.0033925049309664695},
 'Talent 71': {'T1': -0.006153846153846151},
 'Talent 72': {'T1': -0.007889546351084808},
 'Talent 73': {'T1': 0.011834319526627222},
 'Talent 74': {'T1': -0.03076923076923077},
 'Talent 75': {'T1': -0.019487179487179488},
 'Talent 76': {'T1': -0.025325443786982243},
 'Talent 77': {'T1': -0.011834319526627215},
 'Talent 78': {'T1': -0.027692307692307693},
 'Talent 79': {'T1': -0.01696252465483234},
 'Talent 80': {'T1': -0.01625246548323471},
 'Talent 81': {'T1': -0.023431952662721887},
 'Talent 82': {'T1': -0.034003944773175546},
 'Talent 83': {'T1': -0.003786982248520712},
 'Talent 84': {'T1': -0.025483234714003943},
 'Talent 85': {'T1': -0.032347140039447726},
 'Talent 86': {'T1': -0.013333333333333327},
 'Talent 87': {'T1': -0.018461538461538456},
 'Talent 88': {'T1': -0.016883629191321494},
 'Talent 89': {'T1': -0.027218934911242602},
 'Talent 90': {'T1': -0.017357001972386585},
 'Talent 91': {'T1': -0.003471400394477319},
 'Talent 92': {'T1': 0.006785009861932941},
 'Talent 93': {'T1': -0.010571992110453642},
 'Talent 94': {'T1': 0.0003944773175542392},
 'Talent 95': {'T1': -0.012781065088757392},
 'Talent 96': {'T1': -0.016804733727810647},
 'Talent 97': {'T1': -0.018540433925049307},
 'Talent 98': {'T1': -0.010571992110453649},
 'Talent 99': {'T1': 0.015857988165680466},
 'Talent 100': {'T1': -0.029901380670611436},
 'Talent 101': {'T1': -0.02043392504930966},
 'Talent 102': {'T1': -0.014911242603550288},
 'Talent 103': {'T1': -0.038264299802761345},
 'Talent 104': {'T1': 0.015936883629191313},
 'Talent 105': {'T1': -0.010966469428007887},
 'Talent 106': {'T1': -0.014122287968441807},
 'Talent 107': {'T1': 3.416070845000482e-18},
 'Talent 108': {'T1': -0.013727810650887576},
 'Talent 109': {'T1': 0.009940828402366868},
 'Talent 110': {'T1': -0.004181459566074947},
 'Talent 112': {'T1': -0.03076923076923077}}

In [13]:
info['weight']

{'Mathematics.Linear Algebra': task_id
 T1    0.025641
 dtype: float64,
 'Mathematics.Differential Equations': task_id
 T1    0.005128
 dtype: float64,
 'Mathematics.Optimization Technique': task_id
 T1    0.020513
 dtype: float64,
 'Mathematics.Calculus': task_id
 T1    0.020513
 dtype: float64,
 'Mathematics.Combinatorics & Graph': task_id
 T1    0.020513
 dtype: float64,
 'Statistics & Probabilities.Statistics': task_id
 T1    0.020513
 dtype: float64,
 'Statistics & Probabilities.Probability & Sampling': task_id
 T1    0.015385
 dtype: float64,
 'Statistics & Probabilities.Bayessian Method': task_id
 T1    0.025641
 dtype: float64,
 'Statistics & Probabilities.Hypothesis Testing': task_id
 T1    0.005128
 dtype: float64,
 'Statistics & Probabilities.A/B Testing': task_id
 T1    0.005128
 dtype: float64,
 'Statistics & Probabilities.CUPED': task_id
 T1    0.025641
 dtype: float64,
 'Data Structures & Algorithms.Complexity Analysis': task_id
 T1    0.010256
 dtype: float64,
 'Data Structures & Algorithms.Programming': task_id
 T1    0.005128
 dtype: float64,
 'Data Structures & Algorithms.Data Structures': task_id
 T1    0.010256
 dtype: float64,
 'Data Structures & Algorithms.Algorithms': task_id
 T1    0.010256
 dtype: float64,
 'Data Structures & Algorithms.Advanced Algorithms': task_id
 T1    0.005128
 dtype: float64,
 'Data Structures & Algorithms.SQL': task_id
 T1    0.010256
 dtype: float64,
 'Data Structures & Algorithms.Shell / Bash Scripting': task_id
 T1    0.025641
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Data Preprocessing & EDA': task_id
 T1    0.005128
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Data Viz & Storytelling': task_id
 T1    0.020513
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Econometrics': task_id
 T1    0.005128
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Regression Analysis': task_id
 T1    0.015385
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Time Series Analysis': task_id
 T1    0.020513
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Correlation Analysis': task_id
 T1    0.005128
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Causal Analysis': task_id
 T1    0.010256
 dtype: float64,
 'Econometrics, Data Analysis, and Data Visualization.Dimensional Reduction (PCA)': task_id
 T1    0.020513
 dtype: float64,
 'Machine Learning.Supervised ML': task_id
 T1    0.020513
 dtype: float64,
 'Machine Learning.Unsupervised ML': task_id
 T1    0.005128
 dtype: float64,
 'Machine Learning.Reinforcemetn Learning': task_id
 T1    0.010256
 dtype: float64,
 'Machine Learning.Feature Engineering': task_id
 T1    0.010256
 dtype: float64,
 'Machine Learning.Ensemble Method': task_id
 T1    0.010256
 dtype: float64,
 'Deep Learning.Neural Network & DL': task_id
 T1    0.015385
 dtype: float64,
 'Deep Learning.NLP': task_id
 T1    0.025641
 dtype: float64,
 'Deep Learning.GAN': task_id
 T1    0.020513
 dtype: float64,
 'Deep Learning.Generative AI': task_id
 T1    0.020513
 dtype: float64,
 'Deep Learning.Computer VIsion': task_id
 T1    0.015385
 dtype: float64,
 'Deep Learning.Audio & Speech Processing': task_id
 T1    0.025641
 dtype: float64,
 'Deep Learning.Transfer Learning': task_id
 T1    0.015385
 dtype: float64,
 'Deep Learning.Sequence Modelling': task_id
 T1    0.005128
 dtype: float64,
 'Deep Learning.Accelerated & Parallel Computing': task_id
 T1    0.005128
 dtype: float64,
 'Deep Learning.Edge Computing': task_id
 T1    0.025641
 dtype: float64,
 'Data & Cloud Engineering.Relational DB': task_id
 T1    0.025641
 dtype: float64,
 'Data & Cloud Engineering.Non Relational DB': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.Devops & CI/CD': task_id
 T1    0.025641
 dtype: float64,
 'Data & Cloud Engineering.Data Pipeline': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.Data Collection': task_id
 T1    0.015385
 dtype: float64,
 'Data & Cloud Engineering.Data Wrangling': task_id
 T1    0.015385
 dtype: float64,
 'Data & Cloud Engineering.Batch Processing': task_id
 T1    0.005128
 dtype: float64,
 'Data & Cloud Engineering.Stream Processing': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.Big Data Tech': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.Data Warehousing': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.ORM & REST API': task_id
 T1    0.010256
 dtype: float64,
 'Data & Cloud Engineering.Microservices & Containerization': task_id
 T1    0.020513
 dtype: float64,
 'Data & Cloud Engineering.Cloud Native': task_id
 T1    0.020513
 dtype: float64,
 'Data & Cloud Engineering.Cloud & Serverless Architecture': task_id
 T1    0.015385
 dtype: float64,
 'Data & Cloud Engineering.Data Security & Privacy': task_id
 T1    0.020513
 dtype: float64,
 'Data & Cloud Engineering.Distributed Systems': task_id
 T1    0.005128
 dtype: float64,
 'Data & Cloud Engineering.Monitoring, Logging, Alerting': task_id
 T1    0.020513
 dtype: float64,
 'MLOPS.ML Lifecycle': task_id
 T1    0.010256
 dtype: float64,
 'MLOPS.ML Model Pipeline': task_id
 T1    0.015385
 dtype: float64,
 'MLOPS.Model Versioning': task_id
 T1    0.025641
 dtype: float64,
 'MLOPS.Automated Testing & Validation': task_id
 T1    0.020513
 dtype: float64,
 'MLOPS.Scalable Model Training': task_id
 T1    0.025641
 dtype: float64,
 'MLOPS.Model Deployment, Monitoring, Logging': task_id
 T1    0.025641
 dtype: float64,
 'MLOPS.Ethical AI & Bias Mitigation': task_id
 T1    0.025641
 dtype: float64}

# 2. Construct the Model

In [ ]:
model = cp_model.CpModel()

# 3. Build the Decision Variable

We have 3 sets
$$
sets=\begin{cases}I\:&,\:set\:of\:task\\ J&,\:set\:of\:employee\\ K&,\:set\:of\:project\end{cases}
$$

then we have parameters, scalars, and data structures. so let:
$$
i=\:task \:i \\
j=employee \:j\\
k=projects \:k\\
s_i=story\:points\:of\:task \:i \\
e_{ij}=similarity\:skills\:of\:employee\:j\:for\:task\:i \\
$$



Decision Variable

$$
x_{ijk}=Binary\:variable\:indicating\:whether\:employee\:j\:is\:assigned\:to\:task\:k\:for\:day\:i
$$
$$
y_{jk}=Binary\:variable\:indicating\:whether\:employee\:j\:is\:assigned\:to\:any\:task\:from\:company\:k
$$

In [ ]:
max_employee_workload = 20

In [ ]:
# Create decision variables for x and y
x = {}
for k, task in company_tasks.items():
    for i in task:
        for j in employees:
            x[(i, j, k)] = model.NewIntVar(0, 1, f'x_{i}_{j}_{k}')

# decision variable y represent cardinility of each employee and company
y = {}
for j in employees:
    for k in company_tasks.keys():
        y[(j, k)] = model.NewIntVar(0, 1, f'y_{j}_{k}')

# decision variables max_workload
max_workload = model.NewIntVar(0, max_employee_workload, 'max_workload')

In [ ]:
print(x)
print(y)

# 4. Subject to the Constraint

## Constraint 1: Each task is assigned to one employee
$$
\sum _{j\in J}\:x_{ijk}\:=\:1 \quad \forall i \in k, j \in J, k \in K
$$

In [ ]:
# constraint 1: each task assigned to one talent
for k, task in company_tasks.items():
    for i in task:
        model.Add(sum(x[(i, j, k)] for j in employees) == 1)

## Constraint 2: Each employee works for one company at a time
$$
Pre-Constraint\:2:\sum _{i\in I_k}x_{ijk}>0\:\rightarrow \:y_{jk}=1\:\forall j\in J,\:\forall k\in K\:
$$

In [ ]:
# pre-processing constraint 2
for j in employees:
    for k, task in company_tasks.items():
        # Create a temporary list to hold the sum of x[i][j][k] for all i
        temp_sum = []
        for i in task:
            temp_sum.append(x[(i, j, k)])
        # Add a constraint to the model: y[j][k] is 1 if the sum of x[i][j][k] for all i is > 0, and 0 otherwise
        model.Add(sum(temp_sum) > 0).OnlyEnforceIf(y[(j, k)])
        model.Add(sum(temp_sum) <= 0).OnlyEnforceIf(y[(j, k)].Not())

$$
Constraint\:2:\sum _{k\in K}y_{jk}\le 1\:\forall j\in J,k\in K\:
$$

In [ ]:
# create constraint 2: each employee can only work on one task
for j in employees:
    # The sum of y[j][k] for all companies (k) should be <= 1
    model.Add(sum(y[(j, k)] for k in company_tasks.keys()) <= 1)

## Constraint 3: Employee workload doesn't exceed the capacity
$$
Constraint\:3:\:\sum _{j\in J}s_i\cdot x_{ijk}\le 20\:\forall i\in k,j\in J, k\in K\:
$$

In [ ]:
# constraint 3: employee workload doesn't exceed the capacity
for j in employees:
  model.Add(sum(story_points[i] * x[i, j, k] for k, tasks in company_tasks.items() for i in tasks) <= max_employee_workload)

## Constraint 4: Maximum workload is greater than or equal to the workload of each employee
$$
Constraint\:4:\:maxworkload\ge \sum _{i,\:k}s_i\cdot x_{i,j,k},\:\forall j\in J\:\:
$$

In [ ]:
# constraint 4: max_workload is greater than or equal to the workload of each employee
for j in employees:
    model.Add(max_workload >= sum(story_points[i] * x[i, j, k] for k, tasks in company_tasks.items() for i in tasks))

# 5. Single Objective 1: Minimize the Idle Employee

## 5.1. Set the Objective Model

## Single Objective Minimize Idle Employee
$$
min.\:I_j=\sum _{j\in \:J}\:\left(1\:-\:\sum _{k\in \:K}\:y_{jk}\right)\quad \: \forall j\in J, k\in K\quad \tag{1}
$$

In [ ]:
# objective 1
I = []

for j in employees:
  obj1 = 1 - sum(y[j, k] for k in company_tasks.keys())
  I.append(obj1)

I_total_idle_employee = sum(I)

# single objective 1
model.Minimize(I_total_idle_employee)

## 5.2. Solve the Model

In [ ]:
solver = cp_model.CpSolver()
status = solver.Solve(model)

In [ ]:
if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
  print('Solution Found!')
  print(f'Objective Value: {solver.ObjectiveValue()}\n')

  print(f'Total Idle Employees: {solver.Value(I_total_idle_employee)}')

  x_hat = {}

  for j in employees:
    task = []
    sim = []
    sp = 0
    wasted_sp = 0
    comp = []

    for k, tasks in company_tasks.items():
      for i in tasks:
        if solver.Value(x[i, j, k]) == 1:
          print(f'Task {i} assigned to Employee {j}')
          print(f'Company\t\t\t: {k}')
          print(f'Story Points\t\t: {story_points[i]}')
          print(f"Similarity score\t: {cosine_similarity_score[i, j]:.10f}\n")

          task.append(i)
          sim.append(cosine_similarity_score[i, j])
          comp.append(k)
          sp += story_points[i]

    if sp > 0:
      wasted_sp = max_employee_workload - sp
      x_hat[j] = comp, task, sp, wasted_sp, sim

else:
  print('No Solution Found!')
  x_hat = {}

## 5.3. Print the Result

In [ ]:
# Convert dictionary to DataFrame
result1 = pd.DataFrame([(key, value[0], value[1], value[2], value[3], value[4]) for key, value in x_hat.items()],
                      columns=['employee', 'company', 'assigned_task', 'sum_sp', 'wasted_sp', 'similarity_score'])

# Set 'company' as index
result1.set_index('employee', inplace=True)

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

result1

In [ ]:
total_employee = len(employees)
total_sp = sum(story_points.values())
total_active_employee = len(set(employee for employee in x_hat.keys()))
total_active_sp = sum(value[2] for value in x_hat.values())
total_idle_employee = total_employee - total_active_employee
total_wasted_sp = total_sp - total_active_sp

print(f'Total Employee\t\t\t: {total_employee}')
print(f'Total Active Employee\t\t: {total_active_employee}\t{(total_active_employee/total_employee)*100:.2f}%')
print(f'Total Idle Employee\t\t: {total_idle_employee}\t{(total_idle_employee/total_employee)*100:.2f}%\n')
print(f'Total Story Points\t\t: {total_sp}')
print(f'Total Active Story Points\t: {total_active_sp}\t{(total_active_sp/total_sp)*100:.2f}%')
print(f'Total Wasted Story Points\t: {total_wasted_sp}\t{(total_wasted_sp/total_sp)*100:.2f}%\n')

In [ ]:
# make boxplot for objective 1 variable from the similarity score
similarity_score1 = result1['similarity_score'].explode().reset_index(drop=True)
similarity_score1.plot(kind='box')
plt.title('Similarity Score Boxplot')
plt.show()

# 6. Single Objective 2: Maximize the Similarity Error

## 6.1. Set the Objective Model

## Single Objective Maximize Similarity Score
$$
max.\:E_{ij}=\sum_{i\in I}\:\sum _{j\in J}\:e_{ij}\cdot x_{ijk}\quad \:\:\forall \:i\in k, \:j \in J, \:k \in K\quad\tag{2}
$$

In [ ]:
# objective 2
# E_total_similarity_score = 0

for k, tasks in company_tasks.items():
  E_total_similarity_score = sum(cosine_similarity_score[i, j] * x[i, j, k] for i in tasks for j in employees)


model.Maximize(E_total_similarity_score)


# E_total_similarity_score = []

# for k, tasks in company_tasks.items():
#   for j in employees:
#     obj2 = sum(cosine_similarity_score[i, j] * x[i, j, k] for i in tasks for j in employees)
#     E_total_similarity_score.append(obj2)

# model_2.Maximize(E_total_similarity_score)

## 6.2. Solve the Model

In [ ]:
solver = cp_model.CpSolver()
status = solver.Solve(model)

In [ ]:
if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
  print('Solution Found!')
  print(f'Objective Value: {solver.ObjectiveValue()}\n')

  print(f'Total Similarity Score: {solver.Value(E_total_similarity_score)}\n')

  x_hat = {}

  for j in employees:
    task = []
    sim = []
    sp = 0
    wasted_sp = 0
    comp = []

    for k, tasks in company_tasks.items():
      for i in tasks:
        if solver.Value(x[i, j, k]) == 1:
          print(f'Task {i} assigned to Employee {j}')
          print(f'Company\t\t\t: {k}')
          print(f'Story Points\t\t: {story_points[i]}')
          print(f"Similarity score\t: {cosine_similarity_score[i, j]:.10f}\n")

          task.append(i)
          sim.append(cosine_similarity_score[i, j])
          comp.append(k)
          sp += story_points[i]

    if sp > 0:
      wasted_sp = max_employee_workload - sp
      x_hat[j] = comp, task, sp, wasted_sp, sim

else:
  print('No Solution Found!')
  x_hat = {}

## 6.3. Print the Result

In [ ]:
# Convert dictionary to DataFrame
result2 = pd.DataFrame([(key, value[0], value[1], value[2], value[3], value[4]) for key, value in x_hat.items()],
                      columns=['employee', 'company', 'assigned_task', 'sum_sp', 'wasted_sp', 'similarity_score'])

# Set 'company' as index
result2.set_index('employee', inplace=True)

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

result2

In [ ]:
total_employee = len(employees)
total_sp = sum(story_points.values())
total_active_employee = len(set(employee for employee in x_hat.keys()))
total_active_sp = sum(value[2] for value in x_hat.values())
total_idle_employee = total_employee - total_active_employee
total_wasted_sp = total_sp - total_active_sp

print(f'Total Employee\t\t\t: {total_employee}')
print(f'Total Active Employee\t\t: {total_active_employee}\t{(total_active_employee/total_employee)*100:.2f}%')
print(f'Total Idle Employee\t\t: {total_idle_employee}\t{(total_idle_employee/total_employee)*100:.2f}%\n')
print(f'Total Story Points\t\t: {total_sp}')
print(f'Total Active Story Points\t: {total_active_sp}\t{(total_active_sp/total_sp)*100:.2f}%')
print(f'Total Wasted Story Points\t: {total_wasted_sp}\t{(total_wasted_sp/total_sp)*100:.2f}%\n')

In [ ]:
# make boxplot for objective 2 variable from the similarity score
similarity_score2 = result2['similarity_score'].explode().reset_index(drop=True)
similarity_score2.plot(kind='box')
plt.title('Similarity Score Boxplot')
plt.show()

# 7. Single Objective 3: Balancing Workload

## 7.1 Set The Objective Model

## Single Objective Balancing Workload Employee

In [ ]:
model.Minimize(max_workload)

## 7.2 Solve the Model

In [ ]:
solver = cp_model.CpSolver()
status = solver.Solve(model)

## 7.3 Print the Result

In [ ]:
if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
  print('Solution Found!')
  print(f'Objective Value: {solver.ObjectiveValue()}\n')

  print(f'Total Similarity Score: {solver.Value(E_total_similarity_score)}\n')

  x_hat = {}

  for j in employees:
    task = []
    sim = []
    sp = 0
    wasted_sp = 0
    comp = []

    for k, tasks in company_tasks.items():
      for i in tasks:
        if solver.Value(x[i, j, k]) == 1:
          print(f'Task {i} assigned to Employee {j}')
          print(f'Company\t\t\t: {k}')
          print(f'Story Points\t\t: {story_points[i]}')
          print(f"Similarity score\t: {cosine_similarity_score[i, j]:.10f}\n")

          task.append(i)
          sim.append(cosine_similarity_score[i, j])
          comp.append(k)
          sp += story_points[i]

    if sp > 0:
      wasted_sp = max_employee_workload - sp
      x_hat[j] = comp, task, sp, wasted_sp, sim

else:
  print('No Solution Found!')
  x_hat = {}

In [ ]:
# Convert dictionary to DataFrame
result3 = pd.DataFrame([(key, value[0], value[1], value[2], value[3], value[4]) for key, value in x_hat.items()],
                      columns=['employee', 'company', 'assigned_task', 'sum_sp', 'wasted_sp', 'similarity_score'])

# Set 'company' as index
result3.set_index('employee', inplace=True)

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

result3

In [ ]:
total_employee = len(employees)
total_sp = sum(story_points.values())
total_active_employee = len(set(employee for employee in x_hat.keys()))
total_active_sp = sum(value[2] for value in x_hat.values())
total_idle_employee = total_employee - total_active_employee
total_wasted_sp = total_sp - total_active_sp

print(f'Total Employee\t\t\t: {total_employee}')
print(f'Total Active Employee\t\t: {total_active_employee}\t{(total_active_employee/total_employee)*100:.2f}%')
print(f'Total Idle Employee\t\t: {total_idle_employee}\t{(total_idle_employee/total_employee)*100:.2f}%\n')
print(f'Total Story Points\t\t: {total_sp}')
print(f'Total Active Story Points\t: {total_active_sp}\t{(total_active_sp/total_sp)*100:.2f}%')
print(f'Total Wasted Story Points\t: {total_wasted_sp}\t{(total_wasted_sp/total_sp)*100:.2f}%\n')

In [ ]:
# make boxplot for objective 3 variable from the similarity score
similarity_score3 = result3['similarity_score'].explode().reset_index(drop=True)
similarity_score3.plot(kind='box')
plt.title('Similarity Score Boxplot')
plt.show()

# Boxplot Visualization 3 Single Objective

In [ ]:
# merge all boxplot in one graph
plt.figure(figsize=(10, 5))
plt.boxplot([similarity_score1, similarity_score2, similarity_score3], labels=['Objective 1', 'Objective 2', 'Objective 3'])
plt.title('Similarity Score Boxplot')
plt.show()

# 8. Multi-Objective Approach

## 8.1. Set The Objective Model

## Multi Objective Approach

$$
min.\:W=\alpha \cdot min.\:I_j+\beta \cdot max.\:E_{ij} \quad \tag{3}
$$

In [ ]:
alpha = 0.1
beta = 0.1
theta = 0.8

In [ ]:
# objective 1
# I = []

# for j in employees:
#   obj1 = 1 - sum(y[j, k] for k in company_tasks.keys())
#   I.append(obj1)

# I_total_idle_employee = sum(I)

# # objective 2
# for k, tasks in company_tasks.items():
#   E_total_similarity_score = sum(cosine_similarity_score[i, j] * x[i, j, k] for i in tasks for j in employees)

model.Minimize((alpha * I_total_idle_employee) + (beta * E_total_similarity_score) + (theta * max_workload))

## 8.2. Solve the Model

In [ ]:
solver = cp_model.CpSolver()
status = solver.Solve(model)

In [ ]:
if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
  print('Solution Found!')
  print(f'Objective Value: {solver.ObjectiveValue()}\n')

  print(f'Total Idle Employees: {solver.Value(I_total_idle_employee)}')
  print(f'Total Similarity Score: {solver.Value(E_total_similarity_score)}\n')

  x_hat = {}

  for j in employees:
    task = []
    sim = []
    sp = 0
    wasted_sp = 0
    comp = []

    for k, tasks in company_tasks.items():
      for i in tasks:
        if solver.Value(x[i, j, k]) == 1:
          print(f'Task {i} assigned to Employee {j}')
          print(f'Company\t\t\t: {k}')
          print(f'Story Points\t\t: {story_points[i]}')
          print(f"Similarity score\t: {cosine_similarity_score[i, j]:.10f}\n")

          task.append(i)
          sim.append(cosine_similarity_score[i, j])
          comp.append(k)
          sp += story_points[i]

    if sp > 0:
      wasted_sp = max_employee_workload - sp
      x_hat[j] = comp, task, sp, wasted_sp, sim

else:
  print('No Solution Found!')
  x_hat = {}

## 8.3. Print the Result

In [ ]:
# Convert dictionary to DataFrame
result4 = pd.DataFrame([(key, value[0], value[1], value[2], value[3], value[4]) for key, value in x_hat.items()],
                      columns=['employee', 'company', 'assigned_task', 'sum_sp', 'wasted_sp', 'similarity_score'])

# Set 'company' as index
result4.set_index('employee', inplace=True)

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

result4

In [ ]:
total_employee = len(employees)
total_sp = sum(story_points.values())
total_active_employee = len(set(employee for employee in x_hat.keys()))
total_active_sp = sum(value[2] for value in x_hat.values())
total_idle_employee = total_employee - total_active_employee
total_wasted_sp = total_sp - total_active_sp

print(f'Total Employee\t\t\t: {total_employee}')
print(f'Total Active Employee\t\t: {total_active_employee}\t{(total_active_employee/total_employee)*100:.2f}%')
print(f'Total Idle Employee\t\t: {total_idle_employee}\t{(total_idle_employee/total_employee)*100:.2f}%\n')
print(f'Total Story Points\t\t: {total_sp}')
print(f'Total Active Story Points\t: {total_active_sp}\t{(total_active_sp/total_sp)*100:.2f}%')
print(f'Total Wasted Story Points\t: {total_wasted_sp}\t{(total_wasted_sp/total_sp)*100:.2f}%\n')

In [ ]:
# Data for employees
employee_labels = ['Total Employees', 'Total Active Employees', 'Total Idle Employees']
employee_values = [total_employee, total_active_employee, total_idle_employee]

# Data for story points
sp_labels = ['Total Story Points', 'Total Active Story Points', 'Total Wasted Story Points']
sp_values = [total_sp, total_active_sp, total_wasted_sp]

# Create subplots
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 6))

# Plot for employees
ax1.barh(employee_labels, employee_values, color='skyblue')
ax1.set_xlabel('Count')
ax1.set_title('Summary of Employees')
ax1.grid(axis='x', linestyle='--', alpha=0.7)

# Plot for story points
ax2.barh(sp_labels, sp_values, color='lightgreen')
ax2.set_xlabel('Count')
ax2.set_title('Summary of Story Points')
ax2.grid(axis='x', linestyle='--', alpha=0.7)

# Show plot
plt.tight_layout()
plt.show()

In [ ]:
# make boxplot for multi objective variable from the similarity score
similarity_score_multi = result4['similarity_score'].explode().reset_index(drop=True)
similarity_score_multi.plot(kind='box')
plt.title('Similarity Score Boxplot')
plt.show()

# Boxplot Visualization

In [ ]:
# merge all boxplot in one graph
plt.figure(figsize=(10, 5))
plt.boxplot([similarity_score1, similarity_score2, similarity_score3, similarity_score_multi],
            labels=['Obj 1: Min Idle Emp', 'Obj 2: Max Similarity Score', 'Obj 3: Balancing the Workload', 'Multi Objective'])
plt.title('Similarity Score Boxplot')
plt.xticks(rotation=15)
plt.show()

# 9. Strategic Analysis

## Single Objective -

In [ ]:
## Single Objective -