# 0. The Obligatory Part

In [1]:
# Run this cell if data in Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

# 1. Define Data Structure

In [3]:
# Data path: run this if data in Google Drive
# new_employee_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_employee.csv'
# new_task_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_task_1.csv'

In [4]:
# Run this if the data in Local/Repository
new_employee_path = '../../project1_task-management/data/fixed_employee_data.csv'
new_task_path = '../../project1_task-management/data/task_data.csv'

## 1.1 Pre-processing: Employee Data

In [5]:
# Read data
acd_df = pd.read_csv(new_employee_path, index_col='employee_id')
acd_df.drop(columns=['No', 'Role'], inplace=True, errors='ignore')

acd_df.index.tolist()
acd_df.columns[1:].tolist()

acd_df

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
employee_id,,,,,,,,,,,,,,,,,,,,,
Talent 1,1,1,2,1,2,3,3,2,2,2,...,1,1,1,2,1,1,1,1,1,2
Talent 2,4,4,4,4,3,5,4,3,3,3,...,3,2,1,1,1,1,1,1,1,1
Talent 3,3,2,2,3,2,3,3,2,2,3,...,3,3,3,3,2,3,2,3,3,2
Talent 4,3,2,3,2,3,4,3,2,4,2,...,3,1,1,2,2,2,2,2,2,2
Talent 5,2,1,3,1,1,1,2,1,1,2,...,2,1,1,3,2,5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Talent 107,1,4,4,3,4,3,4,4,4,4,...,5,5,5,3,5,3,4,3,4,2
Talent 108,3,3,3,3,4,2,2,2,2,3,...,4,3,4,2,3,3,2,2,3,2
Talent 109,5,5,4,5,3,4,4,3,3,3,...,5,5,5,5,5,5,5,5,5,5
Talent 110,3,3,3,3,3,4,4,4,3,4,...,3,3,3,4,4,3,4,3,4,3
Talent 112,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1

## 1.2 Pre-processing: Task Data

In [6]:
task_df = pd.read_csv(new_task_path, index_col='task_id')

tasks = task_df.index.tolist()
company_names = list(set(task_df['project_id']))
story_points = task_df['story_points'].to_dict()

task_df

,project_id,story_points,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,P5,8,5,1,4,4,4,4,3,5,...,4,1,4,2,3,5,4,5,5,5
T2,P1,1,5,5,5,1,5,3,1,2,...,3,4,3,1,1,1,4,1,3,3
T3,P5,2,5,4,5,1,5,4,5,2,...,2,4,3,5,4,2,3,4,2,5
T4,P1,3,3,1,2,1,5,4,3,1,...,4,1,1,4,1,4,1,3,2,1
T5,P2,5,1,4,5,5,2,3,5,5,...,3,5,1,3,1,5,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T296,P5,5,4,5,4,4,3,1,4,3,...,3,3,1,5,5,3,3,5,5,3
T297,P2,8,4,3,5,2,2,2,2,4,...,4,4,4,5,2,1,3,5,5,5
T298,P2,2,2,2,5,2,4,2,5,2,...,5,1,2,2,5,4,3,2,5,4
T299,P2,1,3,4,3,5,2,3,4,1,...,4,4,1,4,2,5,3,1,2,4
T300,P3,2,4,3,2,1,1,5,3,5,...,2,2,3,3,5,1,5,5,2,3

### 1.2.1 Group the task data by company/project

In [7]:
# convert to dictionary each company and its task
company_tasks = {}

for company in company_names:
  company_tasks[company] = task_df[task_df['project_id'] == company].index.tolist()

# sort the company tasks from C1 to C5
company_tasks = dict(sorted(company_tasks.items()))

company_tasks_df = pd.DataFrame.from_dict(company_tasks, orient='index')
company_tasks_df

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
P1,T2,T4,T14,T21,T26,T29,T30,T36,T38,T40,...,None,None,None,None,None,None,None,None,None,None
P2,T5,T6,T9,T11,T19,T28,T32,T33,T44,T46,...,T260,T265,T274,T279,T283,T291,T293,T297,T298,T299
P3,T10,T23,T24,T25,T34,T48,T53,T58,T59,T68,...,T285,T286,T287,T289,T300,None,None,None,None,None
P4,T15,T20,T35,T37,T39,T43,T56,T57,T61,T70,...,None,None,None,None,None,None,None,None,None,None
P5,T1,T3,T7,T8,T12,T13,T16,T17,T18,T22,...,T241,T242,T243,T268,T276,T280,T282,T288,T296,None

## 1.3 Pre-processing: Competence Assesment

In [8]:
rcd_df = task_df.drop(columns=['project_id', 'story_points'])
rcd_df.head()

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,5,1,4,4,4,4,3,5,1,1,...,4,1,4,2,3,5,4,5,5,5
T2,5,5,5,1,5,3,1,2,2,4,...,3,4,3,1,1,1,4,1,3,3
T3,5,4,5,1,5,4,5,2,4,1,...,2,4,3,5,4,2,3,4,2,5
T4,3,1,2,1,5,4,3,1,1,2,...,4,1,1,4,1,4,1,3,2,1
T5,1,4,5,5,2,3,5,5,3,5,...,3,5,1,3,1,5,5,5,2,2

# 2. Competence Assesment to Task 1
## 2.1 Preprare the ACD and RCD Dataframe

In [9]:
acd_df.transpose()

employee_id,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,Talent 10,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,1.0,4.0,3.0,3.0,2.0,3.0,5.0,5.0,2.0,5.0,...,3.0,1.0,5.0,4.0,3.0,1.0,3.0,5.0,3.0,2.0
Mathematics.Differential Equations,1.0,4.0,2.0,2.0,1.0,3.0,4.0,5.0,1.0,5.0,...,3.0,1.0,5.0,4.0,3.0,4.0,3.0,5.0,3.0,2.0
Mathematics.Optimization Technique,2.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,2.0,5.0,...,3.0,2.0,5.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0
Mathematics.Calculus,1.0,4.0,3.0,2.0,1.0,2.0,4.0,5.0,1.0,5.0,...,3.0,1.0,5.0,4.0,3.0,3.0,3.0,5.0,3.0,2.0
Mathematics.Combinatorics & Graph,2.0,3.0,2.0,3.0,1.0,2.0,4.0,4.0,1.0,5.0,...,3.0,1.0,5.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,1.0,1.0,3.0,2.0,5.0,2.0,3.0,4.0,2.0,5.0,...,3.0,1.0,5.0,4.0,2.0,3.0,3.0,5.0,3.0,1.0
MLOPS.Automated Testing & Validation,1.0,1.0,2.0,2.0,2.0,3.0,3.0,5.0,3.0,5.0,...,3.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,4.0,1.0
MLOPS.Scalable Model Training,1.0,1.0,3.0,2.0,1.0,2.0,4.0,4.0,2.0,3.0,...,2.0,1.0,5.0,2.0,2.0,3.0,2.0,5.0,3.0,1.0
"MLOPS.Model Deployment, Monitoring, Logging",1.0,1.0,3.0,2.0,2.0,3.0,4.0,5.0,2.0,3.0,...,3.0,1.0,5.0,2.0,2.0,4.0,3.0,5.0,4.0,1.0
MLOPS.Ethical AI & Bias Mitigation,2.0,1.0,2.0,2.0,1.0,2.0,3.0,3.0,1.0,3.0,...,2.0,1.0,4.0,2.0,2.0,2.0,2.0,5.0,3.0,1.0

In [10]:
rcd_t1 = rcd_df.loc[['T1']]
rcd_t1.transpose()

task_id                                      T1
Mathematics.Linear Algebra                    5
Mathematics.Differential Equations            1
Mathematics.Optimization Technique            4
Mathematics.Calculus                          4
Mathematics.Combinatorics & Graph             4
...                                          ..
MLOPS.Model Versioning                        5
MLOPS.Automated Testing & Validation          4
MLOPS.Scalable Model Training                 5
MLOPS.Model Deployment, Monitoring, Logging   5
MLOPS.Ethical AI & Bias Mitigation            5

[65 rows x 1 columns]

In [11]:
rcd_acd = pd.concat([rcd_t1, acd_df]).transpose()
rcd_acd = rcd_acd.fillna(0)
rcd_acd

,T1,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,5.0,1.0,4.0,3.0,3.0,2.0,3.0,5.0,5.0,2.0,...,3.0,1.0,5.0,4.0,3.0,1.0,3.0,5.0,3.0,2.0
Mathematics.Differential Equations,1.0,1.0,4.0,2.0,2.0,1.0,3.0,4.0,5.0,1.0,...,3.0,1.0,5.0,4.0,3.0,4.0,3.0,5.0,3.0,2.0
Mathematics.Optimization Technique,4.0,2.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,2.0,...,3.0,2.0,5.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0
Mathematics.Calculus,4.0,1.0,4.0,3.0,2.0,1.0,2.0,4.0,5.0,1.0,...,3.0,1.0,5.0,4.0,3.0,3.0,3.0,5.0,3.0,2.0
Mathematics.Combinatorics & Graph,4.0,2.0,3.0,2.0,3.0,1.0,2.0,4.0,4.0,1.0,...,3.0,1.0,5.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,5.0,1.0,1.0,3.0,2.0,5.0,2.0,3.0,4.0,2.0,...,3.0,1.0,5.0,4.0,2.0,3.0,3.0,5.0,3.0,1.0
MLOPS.Automated Testing & Validation,4.0,1.0,1.0,2.0,2.0,2.0,3.0,3.0,5.0,3.0,...,3.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,4.0,1.0
MLOPS.Scalable Model Training,5.0,1.0,1.0,3.0,2.0,1.0,2.0,4.0,4.0,2.0,...,2.0,1.0,5.0,2.0,2.0,3.0,2.0,5.0,3.0,1.0
"MLOPS.Model Deployment, Monitoring, Logging",5.0,1.0,1.0,3.0,2.0,2.0,3.0,4.0,5.0,2.0,...,3.0,1.0,5.0,2.0,2.0,4.0,3.0,5.0,4.0,1.0
MLOPS.Ethical AI & Bias Mitigation,5.0,2.0,1.0,2.0,2.0,1.0,2.0,3.0,3.0,1.0,...,2.0,1.0,4.0,2.0,2.0,2.0,2.0,5.0,3.0,1.0

## 2.2 PoC Weights to ACD and RCD Dataframe

**PoC or Prioritization of Competence** defines the importance and the relative weight of required competence for a specific task. Where in our case, the larger the value of RCD, the more important it's.

### 2.2.1 Calculate the PoC Weight with sum equal to 1

In [12]:
required = {}
weight = {}

for i, val in rcd_acd['T1'].items():
  required[i] = val

total_req = sum(required.values())

for key, val in required.items():
  weight[key] = val/total_req

weight_df = pd.DataFrame.from_dict(weight, orient='index', columns=['weight'])
weight_df

                                               weight
Mathematics.Linear Algebra                   0.025641
Mathematics.Differential Equations           0.005128
Mathematics.Optimization Technique           0.020513
Mathematics.Calculus                         0.020513
Mathematics.Combinatorics & Graph            0.020513
...                                               ...
MLOPS.Model Versioning                       0.025641
MLOPS.Automated Testing & Validation         0.020513
MLOPS.Scalable Model Training                0.025641
MLOPS.Model Deployment, Monitoring, Logging  0.025641
MLOPS.Ethical AI & Bias Mitigation           0.025641

[65 rows x 1 columns]

In [13]:
print(sum(weight.values()))

0.9999999999999999

### 2.2.2 Apply PoC to ACD and RCD

In [14]:
competency = {}
column_names = []

for k, v in rcd_acd.items():
  column_names.append(k)

for i, row in rcd_acd.iterrows():
  competency[i] = weight[i] * row.values  

# ACD and RCD with PoC Dataframe
competency_df = pd.DataFrame.from_dict(competency, orient='index', columns=column_names)
competency_df

,T1,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,0.128205,0.025641,0.102564,0.076923,0.076923,0.051282,0.076923,0.128205,0.128205,0.051282,...,0.076923,0.025641,0.128205,0.102564,0.076923,0.025641,0.076923,0.128205,0.076923,0.051282
Mathematics.Differential Equations,0.005128,0.005128,0.020513,0.010256,0.010256,0.005128,0.015385,0.020513,0.025641,0.005128,...,0.015385,0.005128,0.025641,0.020513,0.015385,0.020513,0.015385,0.025641,0.015385,0.010256
Mathematics.Optimization Technique,0.082051,0.041026,0.082051,0.041026,0.061538,0.061538,0.061538,0.082051,0.102564,0.041026,...,0.061538,0.041026,0.102564,0.061538,0.061538,0.082051,0.061538,0.082051,0.061538,0.041026
Mathematics.Calculus,0.082051,0.020513,0.082051,0.061538,0.041026,0.020513,0.041026,0.082051,0.102564,0.020513,...,0.061538,0.020513,0.102564,0.082051,0.061538,0.061538,0.061538,0.102564,0.061538,0.041026
Mathematics.Combinatorics & Graph,0.082051,0.041026,0.061538,0.041026,0.061538,0.020513,0.041026,0.082051,0.082051,0.020513,...,0.061538,0.020513,0.102564,0.061538,0.061538,0.082051,0.082051,0.061538,0.061538,0.041026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,0.128205,0.025641,0.025641,0.076923,0.051282,0.128205,0.051282,0.076923,0.102564,0.051282,...,0.076923,0.025641,0.128205,0.102564,0.051282,0.076923,0.076923,0.128205,0.076923,0.025641
MLOPS.Automated Testing & Validation,0.082051,0.020513,0.020513,0.041026,0.041026,0.041026,0.061538,0.061538,0.102564,0.061538,...,0.061538,0.061538,0.082051,0.082051,0.041026,0.082051,0.041026,0.102564,0.082051,0.020513
MLOPS.Scalable Model Training,0.128205,0.025641,0.025641,0.076923,0.051282,0.025641,0.051282,0.102564,0.102564,0.051282,...,0.051282,0.025641,0.128205,0.051282,0.051282,0.076923,0.051282,0.128205,0.076923,0.025641
"MLOPS.Model Deployment, Monitoring, Logging",0.128205,0.025641,0.025641,0.076923,0.051282,0.051282,0.076923,0.102564,0.128205,0.051282,...,0.076923,0.025641,0.128205,0.051282,0.051282,0.102564,0.076923,0.128205,0.102564,0.025641
MLOPS.Ethical AI & Bias Mitigation,0.128205,0.051282,0.025641,0.051282,0.051282,0.025641,0.051282,0.076923,0.076923,0.025641,...,0.051282,0.025641,0.102564,0.051282,0.051282,0.051282,0.051282,0.128205,0.076923,0.025641

### 2.2.3 Comparing with Normalization

In [15]:
competency_norm = {}

for i, row in rcd_acd.iterrows():
  competency_norm[i] = preprocessing.normalize([row])[0]

competency_norm_df = pd.DataFrame.from_dict(competency_norm, orient='index', columns=column_names)
competency_norm_df

,T1,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,0.142566,0.028513,0.114053,0.085540,0.085540,0.057027,0.085540,0.142566,0.142566,0.057027,...,0.085540,0.028513,0.142566,0.114053,0.085540,0.028513,0.085540,0.142566,0.085540,0.057027
Mathematics.Differential Equations,0.031189,0.031189,0.124757,0.062378,0.062378,0.031189,0.093567,0.124757,0.155946,0.031189,...,0.093567,0.031189,0.155946,0.124757,0.093567,0.124757,0.093567,0.155946,0.093567,0.062378
Mathematics.Optimization Technique,0.123033,0.061517,0.123033,0.061517,0.092275,0.092275,0.092275,0.123033,0.153792,0.061517,...,0.092275,0.061517,0.153792,0.092275,0.092275,0.123033,0.092275,0.123033,0.092275,0.061517
Mathematics.Calculus,0.122570,0.030643,0.122570,0.091928,0.061285,0.030643,0.061285,0.122570,0.153213,0.030643,...,0.091928,0.030643,0.153213,0.122570,0.091928,0.091928,0.091928,0.153213,0.091928,0.061285
Mathematics.Combinatorics & Graph,0.128103,0.064051,0.096077,0.064051,0.096077,0.032026,0.064051,0.128103,0.128103,0.032026,...,0.096077,0.032026,0.160128,0.096077,0.096077,0.128103,0.128103,0.096077,0.096077,0.064051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,0.177780,0.035556,0.035556,0.106668,0.071112,0.177780,0.071112,0.106668,0.142224,0.071112,...,0.106668,0.035556,0.177780,0.142224,0.071112,0.106668,0.106668,0.177780,0.106668,0.035556
MLOPS.Automated Testing & Validation,0.146059,0.036515,0.036515,0.073030,0.073030,0.073030,0.109545,0.109545,0.182574,0.109545,...,0.109545,0.109545,0.146059,0.146059,0.073030,0.146059,0.073030,0.182574,0.146059,0.036515
MLOPS.Scalable Model Training,0.203616,0.040723,0.040723,0.122169,0.081446,0.040723,0.081446,0.162893,0.162893,0.081446,...,0.081446,0.040723,0.203616,0.081446,0.081446,0.122169,0.081446,0.203616,0.122169,0.040723
"MLOPS.Model Deployment, Monitoring, Logging",0.184679,0.036936,0.036936,0.110808,0.073872,0.073872,0.110808,0.147743,0.184679,0.073872,...,0.110808,0.036936,0.184679,0.073872,0.073872,0.147743,0.110808,0.184679,0.147743,0.036936
MLOPS.Ethical AI & Bias Mitigation,0.208878,0.083551,0.041776,0.083551,0.083551,0.041776,0.083551,0.125327,0.125327,0.041776,...,0.083551,0.041776,0.167102,0.083551,0.083551,0.083551,0.083551,0.208878,0.125327,0.041776

## 2.3 Evaluation-Phase: Gap Function

Gap Function $g(a,r)$ is a cost function which compares scores in the competence domain quantifying the gap between ACD and RCD scores. Inspired by regression-based problems, in this case simple gap (SG) is used, where $g_i(a,r) = A_i - R_i$

In [16]:
# create a copy of the original DataFrame
gap_df = competency_df.copy()

# calculate gap scores in gap_df between every acquired competence and required T1
for col in gap_df.columns:
  if col != 'T1':
    # gap = acquired - required
    gap_df[col] = gap_df[col] - gap_df['T1']

# drop the 'T1' column
gap_df = gap_df.drop(columns=['T1'])

gap_df

,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,Talent 10,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,-0.102564,-0.025641,-0.051282,-0.051282,-0.076923,-0.051282,0.000000,0.000000,-0.076923,0.000000,...,-0.051282,-0.102564,0.000000,-0.025641,-0.051282,-0.102564,-0.051282,0.000000,-0.051282,-0.076923
Mathematics.Differential Equations,0.000000,0.015385,0.005128,0.005128,0.000000,0.010256,0.015385,0.020513,0.000000,0.020513,...,0.010256,0.000000,0.020513,0.015385,0.010256,0.015385,0.010256,0.020513,0.010256,0.005128
Mathematics.Optimization Technique,-0.041026,0.000000,-0.041026,-0.020513,-0.020513,-0.020513,0.000000,0.020513,-0.041026,0.020513,...,-0.020513,-0.041026,0.020513,-0.020513,-0.020513,0.000000,-0.020513,0.000000,-0.020513,-0.041026
Mathematics.Calculus,-0.061538,0.000000,-0.020513,-0.041026,-0.061538,-0.041026,0.000000,0.020513,-0.061538,0.020513,...,-0.020513,-0.061538,0.020513,0.000000,-0.020513,-0.020513,-0.020513,0.020513,-0.020513,-0.041026
Mathematics.Combinatorics & Graph,-0.041026,-0.020513,-0.041026,-0.020513,-0.061538,-0.041026,0.000000,0.000000,-0.061538,0.020513,...,-0.020513,-0.061538,0.020513,-0.020513,-0.020513,0.000000,0.000000,-0.020513,-0.020513,-0.041026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,-0.102564,-0.102564,-0.051282,-0.076923,0.000000,-0.076923,-0.051282,-0.025641,-0.076923,0.000000,...,-0.051282,-0.102564,0.000000,-0.025641,-0.076923,-0.051282,-0.051282,0.000000,-0.051282,-0.102564
MLOPS.Automated Testing & Validation,-0.061538,-0.061538,-0.041026,-0.041026,-0.041026,-0.020513,-0.020513,0.020513,-0.020513,0.020513,...,-0.020513,-0.020513,0.000000,0.000000,-0.041026,0.000000,-0.041026,0.020513,0.000000,-0.061538
MLOPS.Scalable Model Training,-0.102564,-0.102564,-0.051282,-0.076923,-0.102564,-0.076923,-0.025641,-0.025641,-0.076923,-0.051282,...,-0.076923,-0.102564,0.000000,-0.076923,-0.076923,-0.051282,-0.076923,0.000000,-0.051282,-0.102564
"MLOPS.Model Deployment, Monitoring, Logging",-0.102564,-0.102564,-0.051282,-0.076923,-0.076923,-0.051282,-0.025641,0.000000,-0.076923,-0.051282,...,-0.051282,-0.102564,0.000000,-0.076923,-0.076923,-0.025641,-0.051282,0.000000,-0.025641,-0.102564
MLOPS.Ethical AI & Bias Mitigation,-0.076923,-0.102564,-0.076923,-0.076923,-0.102564,-0.076923,-0.051282,-0.051282,-0.102564,-0.051282,...,-0.076923,-0.102564,-0.025641,-0.076923,-0.076923,-0.076923,-0.076923,0.000000,-0.051282,-0.102564

## 2.4 Evaluation-Phase: Qualification Space

based on *Regression Operating Characteristic (ROC)* space, we can define similarly define the *Qualification Space (QS)* as two-dimensional plot for every specific candidate. Where the x-axis represents the weighted **sum of over-qualification (SOQ)** and the y-axis represents the weighted **sum of under-qualification (SUQ)** with simple gap function.

### 2.4.1 Calculate the SOQ and SUQ

$$SOQ=\sum _{i=0}\left\{g_i | g_i\ge 0\right\}=\sum _{i=0}^n\left\{w_i\left(A_i-R_i\right) | \left(A_i-R_i\right)\ge 0 \right\}$$
$$SUQ=\sum _{i=0}\left\{g_i | g_i < 0\right\}=\sum _{i=0}^n\left\{w_i\left(A_i-R_i\right) | \left(A_i-R_i\right) < 0 \right\}$$

In [25]:
# QualificationSpace[talent] = {SOQ, SUQ}
qs = {}

for j, competence in gap_df.items():
  soq, suq = 0, 0
  
  for value in competence.values:    
    if value >= 0:
      soq += value
    else:
      suq += value
  
  qs[j] = [soq, suq]

qs_df = pd.DataFrame.from_dict(qs, orient='index', columns=['SOQ', 'SUQ'])
qs_df

                 SOQ       SUQ
Talent 1    0.071795 -2.035897
Talent 2    0.220513 -1.425641
Talent 3    0.215385 -1.374359
Talent 4    0.256410 -1.343590
Talent 5    0.158974 -2.169231
...              ...       ...
Talent 107  0.682051 -0.682051
Talent 108  0.246154 -1.138462
Talent 109  0.958974 -0.312821
Talent 110  0.451282 -0.723077
Talent 112  0.092308 -2.092308

[109 rows x 2 columns]

### 2.4.2 Calculate Mean Simple Gap (MSG)

Quantifying the visual information gained from QS plot, we can define overall measures of gap for each assese through the SOQ and SUQ values. In this case, **Mean Simple Gap (MSG)** is used.

$$MSG=\frac{\sum _{i=1}^ng_i}{n}=\frac{SOQ+SUQ}{n}$$

In [26]:
# in this section, QS dictionary will increase by 1 metrics which is MSG
# QualificationSpace[talent] = {SOQ, SUQ, MSG}

# calculate the sum of competency first
n = len(gap_df.index)

# calculate the msg
for j, v in qs.items():  
  soq, suq = v[0], v[1]
  msg = (soq + suq) / n
  qs[j] += [msg]

qs_df = pd.DataFrame.from_dict(qs, orient='index', columns=['SOQ', 'SUQ', 'MSG'])
qs_df

                 SOQ       SUQ           MSG
Talent 1    0.071795 -2.035897 -3.021696e-02
Talent 2    0.220513 -1.425641 -1.854043e-02
Talent 3    0.215385 -1.374359 -1.783037e-02
Talent 4    0.256410 -1.343590 -1.672584e-02
Talent 5    0.158974 -2.169231 -3.092702e-02
...              ...       ...           ...
Talent 107  0.682051 -0.682051  3.416071e-18
Talent 108  0.246154 -1.138462 -1.372781e-02
Talent 109  0.958974 -0.312821  9.940828e-03
Talent 110  0.451282 -0.723077 -4.181460e-03
Talent 112  0.092308 -2.092308 -3.076923e-02

[109 rows x 3 columns]