# 0. The Obligatory Part

In [1]:
# Run this cell if data in Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

# 1. Define Data Structure

In [3]:
# Data path: run this if data in Google Drive
# new_employee_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_employee.csv'
# new_task_path = '/content/drive/MyDrive/Tadika Mesra Bunga Matahari/#1 Optimization Problem/project1_task-assignment/data/new_task_1.csv'

In [9]:
# Run this if the data in Local/Repository
new_employee_path = '../../project1_task-management/data/fixed_employee_data.csv'
new_task_path = '../../project1_task-management/data/task_data.csv'

## 1.1 Pre-processing: Employee Data

In [10]:
# Read data
acd_df = pd.read_csv(new_employee_path, index_col='employee_id')
acd_df.drop(columns=['No', 'Role'], inplace=True, errors='ignore')

acd_df.index.tolist()
acd_df.columns[1:].tolist()

acd_df

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
employee_id,,,,,,,,,,,,,,,,,,,,,
Talent 1,1,1,2,1,2,3,3,2,2,2,...,1,1,1,2,1,1,1,1,1,2
Talent 2,4,4,4,4,3,5,4,3,3,3,...,3,2,1,1,1,1,1,1,1,1
Talent 3,3,2,2,3,2,3,3,2,2,3,...,3,3,3,3,2,3,2,3,3,2
Talent 4,3,2,3,2,3,4,3,2,4,2,...,3,1,1,2,2,2,2,2,2,2
Talent 5,2,1,3,1,1,1,2,1,1,2,...,2,1,1,3,2,5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Talent 107,1,4,4,3,4,3,4,4,4,4,...,5,5,5,3,5,3,4,3,4,2
Talent 108,3,3,3,3,4,2,2,2,2,3,...,4,3,4,2,3,3,2,2,3,2
Talent 109,5,5,4,5,3,4,4,3,3,3,...,5,5,5,5,5,5,5,5,5,5
Talent 110,3,3,3,3,3,4,4,4,3,4,...,3,3,3,4,4,3,4,3,4,3
Talent 112,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1

## 1.2 Pre-processing: Task Data

In [11]:
task_df = pd.read_csv(new_task_path, index_col='task_id')

tasks = task_df.index.tolist()
company_names = list(set(task_df['project_id']))
story_points = task_df['story_points'].to_dict()

task_df

,project_id,story_points,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,P5,8,5,1,4,4,4,4,3,5,...,4,1,4,2,3,5,4,5,5,5
T2,P1,1,5,5,5,1,5,3,1,2,...,3,4,3,1,1,1,4,1,3,3
T3,P5,2,5,4,5,1,5,4,5,2,...,2,4,3,5,4,2,3,4,2,5
T4,P1,3,3,1,2,1,5,4,3,1,...,4,1,1,4,1,4,1,3,2,1
T5,P2,5,1,4,5,5,2,3,5,5,...,3,5,1,3,1,5,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T296,P5,5,4,5,4,4,3,1,4,3,...,3,3,1,5,5,3,3,5,5,3
T297,P2,8,4,3,5,2,2,2,2,4,...,4,4,4,5,2,1,3,5,5,5
T298,P2,2,2,2,5,2,4,2,5,2,...,5,1,2,2,5,4,3,2,5,4
T299,P2,1,3,4,3,5,2,3,4,1,...,4,4,1,4,2,5,3,1,2,4
T300,P3,2,4,3,2,1,1,5,3,5,...,2,2,3,3,5,1,5,5,2,3

### 1.2.1 Group the task data by company/project

In [12]:
# convert to dictionary each company and its task
company_tasks = {}

for company in company_names:
  company_tasks[company] = task_df[task_df['project_id'] == company].index.tolist()

# sort the company tasks from C1 to C5
company_tasks = dict(sorted(company_tasks.items()))

company_tasks_df = pd.DataFrame.from_dict(company_tasks, orient='index')
company_tasks_df

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
P1,T2,T4,T14,T21,T26,T29,T30,T36,T38,T40,...,None,None,None,None,None,None,None,None,None,None
P2,T5,T6,T9,T11,T19,T28,T32,T33,T44,T46,...,T260,T265,T274,T279,T283,T291,T293,T297,T298,T299
P3,T10,T23,T24,T25,T34,T48,T53,T58,T59,T68,...,T285,T286,T287,T289,T300,None,None,None,None,None
P4,T15,T20,T35,T37,T39,T43,T56,T57,T61,T70,...,None,None,None,None,None,None,None,None,None,None
P5,T1,T3,T7,T8,T12,T13,T16,T17,T18,T22,...,T241,T242,T243,T268,T276,T280,T282,T288,T296,None

## 1.3 Pre-processing: Competence Assesment

In [13]:
rcd_df = task_df.drop(columns=['project_id', 'story_points'])
rcd_df.head()

,Mathematics.Linear Algebra,Mathematics.Differential Equations,Mathematics.Optimization Technique,Mathematics.Calculus,Mathematics.Combinatorics & Graph,Statistics & Probabilities.Statistics,Statistics & Probabilities.Probability & Sampling,Statistics & Probabilities.Bayessian Method,Statistics & Probabilities.Hypothesis Testing,Statistics & Probabilities.A/B Testing,...,Data & Cloud Engineering.Data Security & Privacy,Data & Cloud Engineering.Distributed Systems,"Data & Cloud Engineering.Monitoring, Logging, Alerting",MLOPS.ML Lifecycle,MLOPS.ML Model Pipeline,MLOPS.Model Versioning,MLOPS.Automated Testing & Validation,MLOPS.Scalable Model Training,"MLOPS.Model Deployment, Monitoring, Logging",MLOPS.Ethical AI & Bias Mitigation
task_id,,,,,,,,,,,,,,,,,,,,,
T1,5,1,4,4,4,4,3,5,1,1,...,4,1,4,2,3,5,4,5,5,5
T2,5,5,5,1,5,3,1,2,2,4,...,3,4,3,1,1,1,4,1,3,3
T3,5,4,5,1,5,4,5,2,4,1,...,2,4,3,5,4,2,3,4,2,5
T4,3,1,2,1,5,4,3,1,1,2,...,4,1,1,4,1,4,1,3,2,1
T5,1,4,5,5,2,3,5,5,3,5,...,3,5,1,3,1,5,5,5,2,2

## 1a. Competence Assesment to Task 1

In [14]:
acd_df.transpose()

employee_id,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,Talent 10,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,1.0,4.0,3.0,3.0,2.0,3.0,5.0,5.0,2.0,5.0,...,3.0,1.0,5.0,4.0,3.0,1.0,3.0,5.0,3.0,2.0
Mathematics.Differential Equations,1.0,4.0,2.0,2.0,1.0,3.0,4.0,5.0,1.0,5.0,...,3.0,1.0,5.0,4.0,3.0,4.0,3.0,5.0,3.0,2.0
Mathematics.Optimization Technique,2.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,2.0,5.0,...,3.0,2.0,5.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0
Mathematics.Calculus,1.0,4.0,3.0,2.0,1.0,2.0,4.0,5.0,1.0,5.0,...,3.0,1.0,5.0,4.0,3.0,3.0,3.0,5.0,3.0,2.0
Mathematics.Combinatorics & Graph,2.0,3.0,2.0,3.0,1.0,2.0,4.0,4.0,1.0,5.0,...,3.0,1.0,5.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,1.0,1.0,3.0,2.0,5.0,2.0,3.0,4.0,2.0,5.0,...,3.0,1.0,5.0,4.0,2.0,3.0,3.0,5.0,3.0,1.0
MLOPS.Automated Testing & Validation,1.0,1.0,2.0,2.0,2.0,3.0,3.0,5.0,3.0,5.0,...,3.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,4.0,1.0
MLOPS.Scalable Model Training,1.0,1.0,3.0,2.0,1.0,2.0,4.0,4.0,2.0,3.0,...,2.0,1.0,5.0,2.0,2.0,3.0,2.0,5.0,3.0,1.0
"MLOPS.Model Deployment, Monitoring, Logging",1.0,1.0,3.0,2.0,2.0,3.0,4.0,5.0,2.0,3.0,...,3.0,1.0,5.0,2.0,2.0,4.0,3.0,5.0,4.0,1.0
MLOPS.Ethical AI & Bias Mitigation,2.0,1.0,2.0,2.0,1.0,2.0,3.0,3.0,1.0,3.0,...,2.0,1.0,4.0,2.0,2.0,2.0,2.0,5.0,3.0,1.0

In [15]:
rcd_t1 = rcd_df.loc[['T1']]
rcd_t1.transpose()

task_id                                      T1
Mathematics.Linear Algebra                    5
Mathematics.Differential Equations            1
Mathematics.Optimization Technique            4
Mathematics.Calculus                          4
Mathematics.Combinatorics & Graph             4
...                                          ..
MLOPS.Model Versioning                        5
MLOPS.Automated Testing & Validation          4
MLOPS.Scalable Model Training                 5
MLOPS.Model Deployment, Monitoring, Logging   5
MLOPS.Ethical AI & Bias Mitigation            5

[65 rows x 1 columns]

In [16]:
rcd_acd = pd.concat([rcd_t1, acd_df]).transpose()
rcd_acd

,T1,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,...,Talent 102,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 112
Mathematics.Linear Algebra,5.0,1.0,4.0,3.0,3.0,2.0,3.0,5.0,5.0,2.0,...,3.0,1.0,5.0,4.0,3.0,1.0,3.0,5.0,3.0,2.0
Mathematics.Differential Equations,1.0,1.0,4.0,2.0,2.0,1.0,3.0,4.0,5.0,1.0,...,3.0,1.0,5.0,4.0,3.0,4.0,3.0,5.0,3.0,2.0
Mathematics.Optimization Technique,4.0,2.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,2.0,...,3.0,2.0,5.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0
Mathematics.Calculus,4.0,1.0,4.0,3.0,2.0,1.0,2.0,4.0,5.0,1.0,...,3.0,1.0,5.0,4.0,3.0,3.0,3.0,5.0,3.0,2.0
Mathematics.Combinatorics & Graph,4.0,2.0,3.0,2.0,3.0,1.0,2.0,4.0,4.0,1.0,...,3.0,1.0,5.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,5.0,1.0,1.0,3.0,2.0,5.0,2.0,3.0,4.0,2.0,...,3.0,1.0,5.0,4.0,2.0,3.0,3.0,5.0,3.0,1.0
MLOPS.Automated Testing & Validation,4.0,1.0,1.0,2.0,2.0,2.0,3.0,3.0,5.0,3.0,...,3.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,4.0,1.0
MLOPS.Scalable Model Training,5.0,1.0,1.0,3.0,2.0,1.0,2.0,4.0,4.0,2.0,...,2.0,1.0,5.0,2.0,2.0,3.0,2.0,5.0,3.0,1.0
"MLOPS.Model Deployment, Monitoring, Logging",5.0,1.0,1.0,3.0,2.0,2.0,3.0,4.0,5.0,2.0,...,3.0,1.0,5.0,2.0,2.0,4.0,3.0,5.0,4.0,1.0
MLOPS.Ethical AI & Bias Mitigation,5.0,2.0,1.0,2.0,2.0,1.0,2.0,3.0,3.0,1.0,...,2.0,1.0,4.0,2.0,2.0,2.0,2.0,5.0,3.0,1.0

In [21]:
required = {}
weight = {}

for i, val in rcd_acd['T1'].items():
  required[i] = val

total_req = sum(required.values())

for key, val in required.items():
  weight[key] = val/total_req

weight_df = pd.DataFrame.from_dict(weight, orient='index', columns=['weight'])
weight_df

                                               weight
Mathematics.Linear Algebra                   0.025641
Mathematics.Differential Equations           0.005128
Mathematics.Optimization Technique           0.020513
Mathematics.Calculus                         0.020513
Mathematics.Combinatorics & Graph            0.020513
...                                               ...
MLOPS.Model Versioning                       0.025641
MLOPS.Automated Testing & Validation         0.020513
MLOPS.Scalable Model Training                0.025641
MLOPS.Model Deployment, Monitoring, Logging  0.025641
MLOPS.Ethical AI & Bias Mitigation           0.025641

[65 rows x 1 columns]

In [165]:
competency = {}
index_name = []

for k, v in rcd_acd.items():
  index_name.append(k)

for i, row in rcd_acd.iterrows():
  competency[i] = weight[i] * row.values  

competency_df = pd.DataFrame.from_dict(competency, orient='index', columns=index_name)
competency_df

,T1,Talent 1,Talent 2,Talent 3,Talent 4,Talent 5,Talent 6,Talent 7,Talent 8,Talent 9,...,Talent 103,Talent 104,Talent 105,Talent 106,Talent 107,Talent 108,Talent 109,Talent 110,Talent 111,Talent 112
Mathematics.Linear Algebra,0.128205,0.025641,0.102564,0.076923,0.076923,0.051282,0.076923,0.128205,0.128205,0.051282,...,0.025641,0.128205,0.102564,0.076923,0.025641,0.076923,0.128205,0.076923,0.025641,0.051282
Mathematics.Differential Equations,0.005128,0.005128,0.020513,0.010256,0.010256,0.005128,0.015385,0.020513,0.025641,0.005128,...,0.005128,0.025641,0.020513,0.015385,0.020513,0.015385,0.025641,0.015385,0.005128,0.010256
Mathematics.Optimization Technique,0.082051,0.041026,0.082051,0.041026,0.061538,0.061538,0.061538,0.082051,0.102564,0.041026,...,0.041026,0.102564,0.061538,0.061538,0.082051,0.061538,0.082051,0.061538,0.020513,0.041026
Mathematics.Calculus,0.082051,0.020513,0.082051,0.061538,0.041026,0.020513,0.041026,0.082051,0.102564,0.020513,...,0.020513,0.102564,0.082051,0.061538,0.061538,0.061538,0.102564,0.061538,0.020513,0.041026
Mathematics.Combinatorics & Graph,0.082051,0.041026,0.061538,0.041026,0.061538,0.020513,0.041026,0.082051,0.082051,0.020513,...,0.020513,0.102564,0.061538,0.061538,0.082051,0.082051,0.061538,0.061538,0.020513,0.041026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLOPS.Model Versioning,0.128205,0.025641,0.025641,0.076923,0.051282,0.128205,0.051282,0.076923,0.102564,0.051282,...,0.025641,0.128205,0.102564,0.051282,0.076923,0.076923,0.128205,0.076923,0.025641,0.025641
MLOPS.Automated Testing & Validation,0.082051,0.020513,0.020513,0.041026,0.041026,0.041026,0.061538,0.061538,0.102564,0.061538,...,0.061538,0.082051,0.082051,0.041026,0.082051,0.041026,0.102564,0.082051,0.020513,0.020513
MLOPS.Scalable Model Training,0.128205,0.025641,0.025641,0.076923,0.051282,0.025641,0.051282,0.102564,0.102564,0.051282,...,0.025641,0.128205,0.051282,0.051282,0.076923,0.051282,0.128205,0.076923,0.025641,0.025641
"MLOPS.Model Deployment, Monitoring, Logging",0.128205,0.025641,0.025641,0.076923,0.051282,0.051282,0.076923,0.102564,0.128205,0.051282,...,0.025641,0.128205,0.051282,0.051282,0.102564,0.076923,0.128205,0.102564,0.025641,0.025641
MLOPS.Ethical AI & Bias Mitigation,0.128205,0.051282,0.025641,0.051282,0.051282,0.025641,0.051282,0.076923,0.076923,0.025641,...,0.025641,0.102564,0.051282,0.051282,0.051282,0.051282,0.128205,0.076923,0.025641,0.025641

In [169]:
# calculate gap scores
req = competency_df['T1'].values
acq = competency_df[]

KeyError: 0